OldStuff/
commands.md
ChIP_Methods/
crisprware.egg-info/
RNA_Methods/
annotations/
.vscode/
.Rhistory
.ipynb_checkpoints/
__pycache__/
gscan_test/
Ribotish/
all_scores/
check_r_package.sh
pipeline_testing/
